<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/cart.css">
        <title>Cart</title>
    </head>
    <body>
        <!--navbar start-->
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
            </label>
            <div class="logo">
            <p>Website</p>
            </div>
            <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a class="active"  href="#">Cart</a></li>
            </ul>
        </nav>
        <!--navbar end-->

        <!--cart items start-->

        <div class="small-container cart-page">
            <h1>My Shopping Cart</h1>
            <table>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
                <%= JSON.stringify(cart) %>
                <% for (const [itemId, item] of Object.entries(cart.items)) { %>
                    <tr>
                        <td>
                            <div>
                                <p><%= item.name %></p>
                                <small>Price: Rs. <%= (Math.round(item.price * 100) / 100).toFixed(2) %>  </small>
                                <br>
                                <a href=""><i class="fa fa-trash" aria-hidden="true" style="font-size: 18px;"></i></a>
                            </div>
                        </td>
                        <td><%= item.qty %></td>
                        <td><%= (Math.round(item.price * item.qty * 100) / 100).toFixed(2) %></td>
                    </tr>
                <% } %>
            </table>

            <div class="total-price">
                <table>
                    <tr>
                        <td>Total</td>
                        <td>Rs. <%= (Math.round(cart.totalPrice * 100) / 100).toFixed(2) %></td>
                    </tr>
                    <tr>
                        <td id="buttons" class="clearcart"><a href="#" class="clear-cart-btn">Clear cart</a></td>
                        <td id="buttons" class="addtocart"><a href="#" class="add-cart-btn">Proceed to checkout</a></td>
                    </tr>
                </table>
            </div>

        </div>
        <!--cart items end-->

    </body>
</html>
