<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include('partials/vendorUILinks.ejs') %>
    <link href="/css/newItem.css" rel="stylesheet" />

    <title>Edit Item</title>
</head>

<body>
    <%- include('partials/navbar.ejs', {activeTab: "Edit Item"}) %>
    <%- include('partials/sidebar.ejs') %>

    <div id="second" class="sub-division">
        <% if (updateSuccess[0]) { %>
            <%- include("partials/successFlashMessage.ejs",
                { 
                    message: updateSuccess[0]
                }) %> 
        <% } %>
        <% if (error[0]) { %>
            <%- include("partials/errorFlashMessage.ejs",
                { 
                    message: error[0]
                }) %> 
        <% } %>
        <div class="container">
            <form action="<%= '/edit-item/' + item.itemId %>" method="post">
                <div class="vendor-form">

                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <h2>Item Details</h2>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Item Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" value="<%= item.name %>" />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="description" rows="3"><%= item.description %></textarea>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-10">
                            <input
                                type="number"
                                min="0"
                                class="form-control"
                                name="price"
                                value=<%= (Math.round(item.price * 100) / 100).toFixed(2); %> 
                                step=any
                            />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Availability</label>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked />
                                <label class="form-check-label" for="exampleRadios1">
                                    In Stock
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" />
                                <label class="form-check-label" for="exampleRadios2">
                                    Out Of Stock
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <article>
                                <div class="overflow-auto" style="min-height:250px; max-height:500px; border-style: solid; border-color: rgb(189, 189, 189); border-radius: .25rem; border-width:1px ; background-color: white;">
                                    <output id="result" />

                                    <%for(i=0; i<images.length; i++){%>
                                    <!-- <h1><%= JSON.stringify(images[i].image_id) %></h1> -->
                                    <div class="card vendor-item-image">
                                        <img
                                            src="/uploads/<%= images[i].image_id %>"
                                            class="card-img-top"
                                            alt=""
                                            max-width="80px"
                                            height="auto"
                                        >
                                    </div>
                                    <%}%>
                  </div>
                </article>
              </div>
            </div>

            <div class="mb-3">
              <div class="btn-group" role="group">
                <button type="submit" class="btn btn-success">Update</button>
                <button id="remove-btn" type="button" class="btn btn-danger">Remove</button>
              </div>
            </div>

          </div>
        </form>
      </div>
    </div>

    <%- include('partials/scripts.ejs') %>
    <script src="/javascript/editItem.js"></script>
</body>

</html>