<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%-include('partials/vendorUILinks.ejs') %>
    <link href="/css/newItem.css" rel="stylesheet" />

    <title>Edit Item</title>
</head>

<body>
    <%- include('partials/navbar.ejs', {activeTab: "Edit Item"}) %>
    <%- include('partials/sidebar.ejs') %>

    <div id="second" class="sub-division">
        <% if (updateSuccess[0]) { %>
            <%- include("partials/successFlashMessage.ejs",
                { 
                    message: updateSuccess[0]
                }) %> 
        <% } %>
        <% if (editItemError[0]) { %>
            <%- include("partials/errorFlashMessage.ejs",
                { 
                    message: editItemError[0]
                }) %> 
        <% } var imageCount = 0; %>

        <% if (editItemFileError[0]) { %>
            <%- include("partials/errorFlashMessage.ejs",
                { 
                    message: editItemFileError[0]
                }) %> 
        <% } %>

        <div class="container">
            <form action="<%= '/edit-item/' + item.itemId %>" method="post" enctype="multipart/form-data" autocomplete="off">
                <div class="vendor-form">

                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <h2>Item Details</h2>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Item Name</label>
                        <div class="col-sm-10">
                            <input
                                type="text"
                                class="form-control"
                                name="name"
                                value="<%= item.name %>"
                                required
                            />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="description" rows="3"><%= item.description %></textarea>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-10">
                            <input
                                type="number"
                                min="0"
                                class="form-control"
                                name="price"
                                value=<%= (Math.round(item.price * 100) / 100).toFixed(2); %> 
                                step=any
                                required
                            />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="colFormLabel" class="col-sm-2 col-form-label">Availability</label>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="availability" id="availability1" value="true" <% if (item.availability) { %> checked  <% } %> />
                                <label class="form-check-label" for="exampleRadios1">
                                    In Stock
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="availability" id="availability2" value="false" <% if (!item.availability) { %> checked  <% } %>/>
                                <label class="form-check-label" for="exampleRadios2">
                                    Out Of Stock
                            </label>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <article>
                                <label class="form-check-label" for="files">Cover Photo (png, jpg, jpeg types only.)</label>
                                <input
                                    class="form-control"
                                    id="cover-files"
                                    name="cover-photo"
                                    type="file"
                                    onchange="showCoverPhoto(event)"
                                    accept="image/png,image/jpg,image/jpeg"
                                />
                            </article>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <article>
                                <div
                                    class="overflow-auto"
                                    style=
                                        "min-height:100px;
                                        max-height:300px;
                                        border-style: solid;
                                        border-color:
                                        rgb(189, 189, 189);
                                        border-radius: .25rem;
                                        border-width:1px;
                                        background-color: white;"
                                >
                                <% if(coverPhoto.cover_photo != null){ %>
                                    <div id="<%=coverPhoto.cover_photo%>" class="card vendor-item-image">
                                        <img
                                            src="/uploads/<%= coverPhoto.cover_photo %>"
                                            class=""
                                            id="cover-photo-view"
                                            alt="Cover Image"
                                            max-width="500px"
                                            height="auto"
                                        >
                                        <button id="remove-imgcover" type="button" class="btn btn-danger btn-circle" onclick="deleteCover('<%=coverPhoto.cover_photo%>')" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove image"><i class="fas fa-close"></i></button>
                                    </div>
                                    
                                    <%}else{%>
                                        <img 
                                        src=""
                                        id="cover-photo-view"
                                        style="max-width: 400px; height:auto; margin: 10px;"
                                    />    
                                    <%}%>
                                </div>
                            </article>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <article>
                                <label class="form-check-label" for="images">Images (png, jpg, jpeg types only. maximum 3 images)</label>
                                <input class="form-control" name="images"  id="images" type="file" accept="image/png,image/jpg,image/jpeg" multiple />
                            </article>
                        </div>
                    </div>
                    

                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <article>
                                <div class="overflow-auto" style="min-height:50px; max-height:300px; border-style: solid; border-color: rgb(189, 189, 189); border-radius: .25rem; border-width:1px ; background-color: white;">
                                    <div id ="upload-preview"></div>
                                    <output id="images-view" />
                                </div>
                            </article>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <article>
                                <label class="form-check-label" for="images">Uploaded Images</label>
                                <div class="overflow-auto" style="min-height:250px; max-height:500px; border-style: solid; border-color: rgb(189, 189, 189); border-radius: .25rem; border-width:1px ; background-color: white;">

                                    <%for(i=0; i<images.length; i++){ if(images[i].image_id == coverPhoto.cover_photo)continue;%>
                                    <div id="<%=images[i].image_id%>" class="card vendor-item-image">
                                        <img
                                            src="/uploads/<%= images[i].image_id %>"
                                            class=""
                                            alt="Preview Image \n <%= imageCount + 1%>"
                                            min-width="250px"
                                            height="auto"
                                        >
                                        <button id="remove-imgx" type="button" class="btn btn-danger btn-circle" onclick="addToDelete('<%=images[i].image_id%>')" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove image"><i class="fas fa-close"></i></button>
                                    </div>
                                    <%imageCount++}%>
                                </div>
                            </article>
                        </div>
                    </div>

            <input type="hidden" id="delArray" name="delArray">
            <input type="hidden" id="deleteCoverPhoto" name="deleteCoverPhoto">
            <input type="hidden" id="newPreviewCount" name="newPreviewCount">
            <input type="hidden" id="newCoverCount" name="newCoverCount">
            

            <div class="mb-3">
              <div class="btn-group" role="group">
                <button type="submit" class="btn btn-success" onclick="postValues()">Update</button>
                <button id="discard-btn" type="button" class="btn btn-warning" onclick="discard()">Disacrd</button>
                <button id="remove-btn" type="button" class="btn btn-danger"><i class="fas fa-trash"></i></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script>
        const initialImg = '<%=imageCount%>';
    </script>
    <%- include('partials/scripts.ejs') %>
    <script src="/javascript/editItem.js"></script>
</body>

</html>

<!-- max limit disable 
multer error handling
preview  error 
    - cover preview not showing when cover deleted-
    
    flash format done !
     
    edit-item-error
    edit-item-file-error

->