<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%-include('partials/vendorUILinks.ejs') %>
    <link rel="stylesheet" href="/css/order.css">
    <title>Order</title>
</head>

<body>
    <div class="dashboard-container">
        <%- include('partials/navbar.ejs', {activeTab: "Order"}) %>
        <%-include('partials/sidebar.ejs');%>
        <div id="second" class="sub-division">
            <% if (success[0]) { %>
                <%- include("partials/successFlashMessage.ejs",
                    { 
                        message: success[0]
                    }) %> 
            <% } %>
            <div class="order-container">
                <div class="order-view">
                    Order ID: <%= order.order_id %>
                    <div class="order-date">
                        <%= new Date(order.date_time).toLocaleString() %>
                </div>
                </div>

                <div class="order-details-content">
                    <div class="order-shipping-details">
                        Customer Details
                        <hr>
                        <div class="order-shipping">
                            <div class="form-group">
                                <label>Customer Name</label>
                                <div class="order-field form-control">
                                    <%= order.customer_name %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <div class="order-field form-control">
                                    <%= order.customer_email %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Contact No</label>
                                <div class="order-field form-control">
                                    <%= order.customer_contact_num %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Address</label>
                                <div class="order-field form-control">
                                    <%= order.customer_address %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order-detail">
                        Order Details
                        <hr>
                        <div class="table-mini">
                            <table class="table table-responsive table-striped table-sm table-hover">
                                <thead>
                                    <tr class="order">
                                        <th scope="col">#</th>
                                        <th scope="col">Item</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Subtotal</th> 
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let i=0; i<orderItems.length; i++) { %>
                                    <tr class="order">
                                        <th scope="row"><%= i+1 %></th>
                                        <td><%= orderItems[i].name %></td>
                                        <td><%= orderItems[i].quantity %></td>
                                        <td><%= (Math.round(orderItems[i].price * 100) / 100).toFixed(2) %></td>
                                        <td><%= (Math.round(orderItems[i].quantity * orderItems[i].price * 100) / 100).toFixed(2) %></td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <div class="order-total">
                            <div class="order-total-label">
                                Grand Total :
                            </div>
                            Rs. <%= (Math.round(orderItems.reduce((prev, curr) => prev + curr.quantity * curr.price , 0) * 100) / 100).toFixed(2)%>
                            <div class="order-total-value">
                            </div>
                        </div>
                        <div class="order-status form-group">
                            <label>
                                Order Status :
                            </label>
                            <form method="post">
                                <select
                                    name="status"
                                    class="order-status-select form-select"
                                    aria-label="Default select example"
                                    autocomplete="off"
                                >
                                    <% 
                                        let options = ["PAID", "PROCESSING", "DISPATCHED", "DELIVERED"];
                                        for (let i=0; i < options.length; i++) {
                                            let selected = (order.status==options[i]) ? "selected" : "";
                                            %><option value="<%= options[i] %>" <%= selected %>> <%= options[i] %> <%
                                        }
                                    %> 
                                </select>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="order-accept-btn btn btn-primary">Update Status</button>
            </form>
        </div>
        <%- include('partials/scripts.ejs') %>
        <script src="/javascript/sideBar.js"></script>
</body>

</html>